<div class="chart-container">
  <ngx-charts-gauge
    class="progress-gauge-chart"
    [view]=""
    [results]="gaugeData"
    [legend]="legend"
    [legendTitle]="''"
    [min]="0"
    [max]="100"
    [units]="''"
    [bigSegments]="10"
    [smallSegments]="5"
    [angleSpan]="240"
    [startAngle]="-120"
    [showAxis]="true"
    [scheme]="colorScheme"
    [textValue]="markedPercentage + '%'"
    (select)="onSelect($event)"
    >
  </ngx-charts-gauge>
</div>

<!-- Legend status indicators to show which series are visible/hidden -->
<div class="custom-legend">
  <div class="legend-item" *ngFor="let item of originalGaugeData"
       [class.active]="isSeriesVisible(item.name)"
       [class.inactive]="!isSeriesVisible(item.name)"
       (click)="onSelect(item.name)">
    <div class="legend-color" [style.background-color]="colorScheme.domain[originalGaugeData.indexOf(item)]"></div>
    <div class="legend-label">{{ item.name }}</div>
  </div>
</div>


<p class="legend-instructions text-center">
  <small>Click on a legend item to view only that indicator. Click it again to show all indicators.</small>
</p>
