.project-portfolio-wizard .panel-body .portfolio-review-step.expanded {
  margin: 0 auto !important;
  width: 100% !important;
  float: none !important;
  padding: 0 !important;
}

.project-portfolio-wizard .panel-body .portfolio-review-step .pdf-viewer-panel {
  border-top: 1px solid var(--brand-primary);
  border-bottom: 1px solid var(--brand-primary);
  margin-top: 2em;
}

.project-portfolio-wizard .panel-body .portfolio-review-step .portfolio-tool-buttons {
  margin-top: 2em;
}
