<div class="flex justify-around items-center">
  <div *ngIf="comment.assessed" class="flex flex-col justify-around items-center">
    <hr class="hr-text" [attr.data-content]="message" />
    <p class="fade-text"><strong>reason:</strong> {{ comment.text }}</p>
  </div>

  <div *ngIf="!comment.assessed" class="flex flex-col justify-around items-center">
    <hr class="hr-fade" />
    <p>
      {{ message }} <br />
      <strong>reason:</strong> {{ comment.text }}
    </p>
    <div *ngIf="isNotStudent" class="flex justify-around items-center">
      <button (click)="grantExtension()" class="btn-primary">Grant</button>
      <button (click)="denyExtension()" class="btn-warn">Deny</button>
    </div>
    <hr class="hr-fade" />
  </div>
</div>
