.grade-icon {
  color: #fff;
  font-size: 1em;
  border-radius: 100%;
  width: 2.25em;
  height: 2.25em;
  font-weight: 100;
  font-size: 1em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grade-icon.text-muted {
  background-color: #6c757d !important;
}
.grade-icon .text-primary {
  background-color: #007bff !important;
}
