.filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  margin-bottom: 20px;
  align-items: start;

  mat-form-field {
    width: 100%;
  }

  button {
    margin-top: 8px;
    height: 56px;
  }
}

.search-form {
  width: 100%;
  margin: 5px 0;
}

.search-field {
  width: 100%;

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  ::ng-deep .mat-form-field-outline {
    border-radius: 25px;
  }
}

.search-bar {
  padding-right: 70px;
}

.add-unit-button {
  border-radius: 20px;
  height: 36px;
  line-height: 36px;
  min-width: 64px;
  margin-right: 5px;
}

.error {
  color: #f44336;
  font-size: 1rem;
  margin: -18px 0 -8px;
  padding: 0 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 800;
}
