.scrollable-form {
  height: calc(100vh - 150px); // Adjust the height as needed for your layout
  overflow-y: auto; // Enables vertical scrolling
  padding: 16px; // Add some padding around the form
}

.main-container {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

:host {
  height: auto;
  overflow-y: auto;
}

h1 {
  color: black;
  margin-top: 0;
}

a {
  :hover {
    text-decoration: none;
    opacity: 0.6;
  }
}

p {
  color: black;
}

.form-field {
  margin: 5px;
}

section {
  padding: 8px;
}

/* checkbox */
::ng-deep .mdc-form-field label {
  font-weight: normal;
}

