<div class="overload-warning-dialog">
  <h2 mat-dialog-title>Overload</h2>

  <mat-dialog-content>
    <p>
      If you want to enrol in more subjects than the standard amount in a semester, you will need to
      apply to <a href="#" class="overload-link">overload</a>.
    </p>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button color="primary" (click)="onCancel()">CANCEL</button>
    <button mat-raised-button color="primary" (click)="onOk()">OK</button>
  </mat-dialog-actions>
</div>
