<mat-card class="notification-modal">
  <mat-card-title class="notification-header">
    <h3>Notification Settings</h3>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content class="notification-content">
    <form [formGroup]="notificationSettings" novalidate>
      <div fxlayout="column">
        <div class="notification-form-group">
          <label class="notification-label">Task Notifications</label>
          <div class="notification-btn-group" ngDefaultControl formControlName="taskSetting">
            <label
              [ngClass]="{'mat-button notification-btn-left': true, 'notification-btn-active': this.notificationSettings.value.taskSetting}"
              (click)="changeItem('taskSetting', true)">
              <i class="glyphicon glyphicon-ok"></i>
            </label>
            <label
              [ngClass]="{'mat-button notification-btn-right': true, 'notification-btn-active': !this.notificationSettings.value.taskSetting}"
              (click)="changeItem('taskSetting', false)">
              <i class="glyphicon glyphicon-remove"></i>
            </label>
          </div>
        </div>
        <div class="notification-form-group">
          <label class="notification-label">Feedback Notifications</label>
          <div class="notification-btn-group" ngDefaultControl formControlName="feedbackSetting">
            <label
              [ngClass]="{'mat-button notification-btn-left': true, 'notification-btn-active': this.notificationSettings.value.feedbackSetting}"
              (click)="changeItem('feedbackSetting', true)">
              <i class="glyphicon glyphicon-ok"></i>
            </label>
            <label
              [ngClass]="{'mat-button notification-btn-right': true, 'notification-btn-active': !this.notificationSettings.value.feedbackSetting}"
              (click)="changeItem('feedbackSetting', false)">
              <i class="glyphicon glyphicon-remove"></i>
            </label>
          </div>
        </div>
        <div class="notification-form-group">
          <label class="notification-label">Portfolio Notifications</label>
          <div class="notification-btn-group" ngDefaultControl formControlName="portfolioSetting">
            <label
              [ngClass]="{'mat-button notification-btn-left': true, 'notification-btn-active': this.notificationSettings.value.portfolioSetting}"
              (click)="changeItem('portfolioSetting', true)">
              <i class="glyphicon glyphicon-ok"></i>
            </label>
            <label
              [ngClass]="{'mat-button notification-btn-right': true, 'notification-btn-active': !this.notificationSettings.value.portfolioSetting}"
              (click)="changeItem('portfolioSetting', false)">
              <i class="glyphicon glyphicon-remove"></i>
            </label>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-divider></mat-divider>
  <div class="notification-footer">
    <button mat-dialog-close mat-raised-button color="primary" (click)="saveNotifications()">Save</button>
  </div>
</mat-card>