<!-- Loading -->
<div class="panel-body panel-loading" *ngIf="!loaded" style="display: flex; align-items: center; gap: 8px;">
  <mat-spinner diameter="24"></mat-spinner>
  <span>Loading Members...</span>
</div>

<!-- Empty -->
<div class="panel-body" *ngIf="loaded && (members?.length || 0) === 0">
  <mat-card class="p-2">
    <mat-card-title>No members in group</mat-card-title>
    <mat-card-content>
      <p>There are no members in this group</p>
    </mat-card-content>
  </mat-card>
</div>

<!-- Members table -->
<table mat-table [dataSource]="sortedMembers" class="mat-elevation-z1" *ngIf="loaded && (members?.length || 0) > 0">

  <!-- Student ID Column -->
  <ng-container matColumnDef="studentId" *ngIf="unitRole">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-button (click)="sortTableBy('student.username')" aria-label="Sort by Student ID">
        Student ID
        <mat-icon *ngIf="tableSort.order === 'student.username'">
          {{ tableSort.reverse ? 'arrow_drop_up' : 'arrow_drop_down' }}
        </mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let m">{{ m?.student?.username || 'N/A' }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-button (click)="sortTableBy('student.name')" aria-label="Sort by Name">
        Name
        <mat-icon *ngIf="tableSort.order === 'student.name'">
          {{ tableSort.reverse ? 'arrow_drop_up' : 'arrow_drop_down' }}
        </mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let m">{{ m?.student?.name }}</td>
  </ng-container>

  <!-- Target Grade Column -->
  <ng-container matColumnDef="targetGrade" *ngIf="unitRole">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-button (click)="sortTableBy('targetGrade')" aria-label="Sort by Target Grade">
        Target Grade
        <mat-icon *ngIf="tableSort.order === 'targetGrade'">
          {{ tableSort.reverse ? 'arrow_drop_up' : 'arrow_drop_down' }}
        </mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let m">
      <grade-icon [index]="m?.targetGrade"></grade-icon>
    </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions" *ngIf="canRemoveMembers">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let m">
      <button mat-raised-button color="warn" (click)="removeMember(m)">
        <mat-icon>remove_circle</mat-icon>
        <span *ngIf="project && m?.id === project?.id">Leave</span>
        <span *ngIf="!project || m?.id !== project?.id">Remove</span>

      </button>
    </td>
  </ng-container>

  <!-- Render Header & Rows -->
  <tr mat-header-row *matHeaderRowDef="['studentId','name','targetGrade','actions']; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: ['studentId','name','targetGrade','actions'];"></tr>
</table>
