.grade-task-modal {
  .task-quality-rating {
    &:focus {
      outline: none;
    }

    i {
      font-size: 2em;
      cursor: pointer;
    }

    .icon-colorful {
      color: rgb(255, 247, 141);
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: orange;
    }

    .icon-disable {
      color: #ccc;
    }
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    list-style-type: none;
    visibility: hidden;
  }
}