<div class="grade-task-modal">
  <div class="modal-header">
    <h3>Assess Task Quality</h3>
  </div>
  <div class="modal-body text-center">
    <div *ngIf="task.definition.is_graded">
      <p>Please provide a grade to change the student's status for task <span class="label label-info">{{ task.definition.abbreviation }}</span>.</p>
      <p class="btn-group">
      <label *ngFor="let idx of gradeValues" class="btn btn-default col-sm-15 text-center" [(ngModel)]="data.desiredGrade" btnRadio="{{ idx }}">
          <grade-icon [grade]="grades[idx]" [tooltip]="'This student completed the task to a ' + grades[idx] + ' standard'" tooltip-append-to-body="true"></grade-icon>
      </label>
      </p>
    </div>
    <div *ngIf="task.definition.max_quality_pts > 0">
      <p>Please provide a quality rating for task <span class="label label-info">{{ task.definition.abbreviation }}</span>.</p>
      <!-- Adjust rating component or use an alternative -->
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default">
      <i class="fa fa-times"></i>
    </button>
    <button class="btn btn-primary" (click)="close()" [disabled]="task.is_graded && data.desiredGrade == null">
      <i class="fa fa-check"></i>
    </button>
  </div>
</div>
