<div class="unit-dates-selector">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Copy {{ unit.code }} {{ unit.nameAndPeriod }}</h3>
      Duplicate this unit by copying it to the indicated teaching period, or a custom start and end date.
    </div>
    <form [formGroup]="rolloverUnitForm" (ngSubmit)="saveUnit()">
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-2 control-label">Teaching Period</label>
          <div class="col-sm-9">
            <object-select
              [source]="teachingPeriodValues"
              [target]="saveData.toPeriod"
              (target-change)="teachingPeriodSelected($event)"
              label="Select Teaching Period"
            ></object-select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Start Date</label>
          <div class="col-sm-9">
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="startDatePicker"
                formControlName="startDate"
                placeholder="yyyy-MM-dd"
                [disabled]="rolloverUnitForm.get('toPeriod').value"
                required
              />
              <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">End Date</label>
          <div class="col-sm-9">
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="endDatePicker"
                formControlName="endDate"
                placeholder="yyyy-MM-dd"
                [disabled]="rolloverUnitForm.get('toPeriod').value"
                required
              />
              <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="panel-footer text-right">
        <button type="submit" class="btn btn-success" [disabled]="rolloverUnitForm.invalid">
          Create Unit
        </button>
      </div>
    </form>
  </div>
</div>
