<emoji-mart [darkMode]="false" [isNative]="true" [hideRecent]="false" [hidden]="!$this.showEmojiPicker"
  class="emoji-picker" title="Pick your emoji…" emoji="thumbsup" (emojiSelect)="$this.addEmoji($event)"></emoji-mart>

@if ($this.task) {
<div id="replyContainer" [hidden]="$this.originalComment === null">
  <div>
    <div class="replying-wrap">
      Replying to:
      <b>{{ $this.originalComment !== null ? $this.originalComment.author.name : '' }}</b>
      <button id="cancelReplyButton" (click)="$this.cancelReply()" mat-icon-button aria-label="Close reply">
        <mat-icon inline="true" aria-label="Quit cross icon">close</mat-icon>
      </button>
    </div>
    <p>{{ $this.originalComment !== null ? $this.originalComment.text : '' }}</p>
  </div>
</div>
}

<mat-action-list [hidden]="!$this.emojiSearchMode || !($this.emojiSearchResults?.length > 0)" dense
  id="emojiSearchResults">
  @foreach ($this.emojiSearchResults as $emoji)
  <mat-list-item (click)="$this.emojiSelected($emoji.native)">
    <div class="flex items-center">
      <ngx-emoji class="align-items: center" [emoji]="$emoji" set="apple" size="20"></ngx-emoji>
      <div class="emoji-details flex flex-col items-center justify-start">
        <div class="font-bold text-sm">{{ $emoji.name }}</div>
        <div class="text-xs">{{ $emoji.colons }}</div>
      </div>
    </div>
  </mat-list-item>
  @endforeach
</mat-action-list>

<form [hidden]="!$this.task" class="input-group col-sm-12 comment-submitter" ng-submit="$this.addComment()" role="form">
  <div class="flex justify-around items-center composer-container">
    <div class="composer-action-group" [@shrinkgrow]="$this.$userIsTyping | async">
      <div class="flex items-center">
        @if ($this.$userIsTyping | async)
        <button (click)="$this.$userIsTyping.next(false); $this.recording = false" matTooltip="Expand action buttons"
          matTooltipShowDelay="400" mat-icon-button class="btn-no-outline" type="button"
          aria-label="Expand action buttons">
          <mat-icon>{{ $this.recording ? 'cancel' : 'chevron_right' }}</mat-icon>
        </button>
        @endif

        @if ($this.isStaff)
        <button [hidden]="$this.$userIsTyping | async" matTooltip="Create a Real Talk discussion"
          matTooltipShowDelay="400" mat-icon-button class="btn-no-outline" type="button"
          aria-label="launch real talk took" (click)="$this.openDiscussionComposer()">
          <mat-icon class="message-inbox-icon">mark_chat_read</mat-icon>
        </button>
        @endif

        <button [hidden]="$this.$userIsTyping | async" matTooltip="Attach a file" matTooltipShowDelay="400"
          mat-icon-button class="btn-no-outline" type="button" (click)="$this.openFile()"
          aria-label="attach a file icon button">
          <mat-icon class="message-inbox-icon">attach_file</mat-icon>
          <input #uploader type="file" multiple="multiple" accept="audio/*,image/*,.pdf" style="display: none"
            (change)="$this.uploadFiles($event.target.files)" />
        </button>

        <button [hidden]="$this.$userIsTyping | async" matTooltip="Send a recording" matTooltipShowDelay="400"
          mat-icon-button class="btn-no-outline" type="button" aria-label="audio recording button"
          (click)="$this.recordingMode()">
          <mat-icon class="message-inbox-icon">mic</mat-icon>
        </button>
      </div>
    </div>
    <div id="textFieldContainer" [class.active]="$this.$userIsTyping | async"
      [ngClass]="{ recording: $this.recording }">
      <div [hidden]="$this.recording" (focus)="$this.$userIsTyping.next(true)" (blur)="$this.$userIsTyping.next(false)"
        [class.active]="($this.$userIsTyping | async) === false" #commentInput id="textField"
        [attr.contenteditable]="$this.contentEditableValue() && !$this.recording" (keydown.enter)="$this.send($event)"
        (keydown)="$this.keyTyped()" placeholder="Aa" name="commentComposer"></div>
      @if ($this.recording)
      <audio-comment-recorder style="display: flex; justify-content: center; width: 100%"
        [task]="$this.task"></audio-comment-recorder>
      @endif
      <div id="innerButtons" [hidden]="$this.recording">
        <mat-icon matTooltip="Choose an emoji" matTooltipShowDelay="400" id="emojiButton"
          (click)="$this.showEmojiPicker = !$this.showEmojiPicker" aria-label="Emoji picker button">
          emoji_emotions
        </mat-icon>
      </div>
    </div>
  </div>
</form>
