<h3 mat-dialog-title>
  {{ isNew ? 'Create Learning Outcome' : 'Edit Learning Outcome: ' + ilo.iloNumber }}
</h3>

<mat-divider />

<mat-dialog-content class="grid grid-cols-9 gap-x-8 w-[800px]">
  <label class="col-span-2 mt-6">Name</label>
  <mat-form-field appearance="outline" class="col-span-6">
    <input placeholder="Outcome Name" matInput [(ngModel)]="editedName" />
  </mat-form-field>
  <label class="col-span-2 mt-6">Abbreviation</label>
  <mat-form-field appearance="outline" class="col-span-6">
    <input placeholder="ABBR" matInput [(ngModel)]="editedAbbreviation" />
  </mat-form-field>
  <label class="col-span-2 mt-6">Description</label>
  <mat-form-field appearance="outline" class="col-span-6">
    <textarea
      placeholder="Enter markdown description..."
      matInput
      [(ngModel)]="editedDescription"
      class="h-[200px]"
    ></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-divider />

<mat-dialog-actions align="end">
  <button
    mat-dialog-close
    mat-flat-button
    color="primary"
    mat-button
    [disabled]="
      editedName.length === 0 || editedAbbreviation.length === 0 || editedDescription.length === 0
    "
    (click)="submitILO()"
  >
    {{ isNew ? 'Create' : ' Update' }}
  </button>
</mat-dialog-actions>
