<div class="file-uploader" ngClass="{ 'is-uploading': isUploading }">
  <div hidden="showUploader">
    <button class="btn btn-success form-control" (click)="showUploader = true">
      <i class="fa fa-upload"></i> Begin Upload
    </button>
  </div><!--begin-upload-button-->
  <div collapse="!showUploader" *ngIf="uploadingInfo == null" class="file-drop-area">
    <div *ngFor="upload in shownUploadZones">
      <h5 class="text-muted" [hidden]="!singleDropZone && !showName">
        {{uploadZones.length == 1 ? '' : $index + 1 + ' -'}} {{upload.display.name}}
      </h5>
      <h5 class="text-muted" [hidded]="!singleDropZone && !showName">
        Select {{upload.display.name}}
      </h5>
      <div ngfSelect ngfDrop
        [hidden]="!upload.model == null || !upload.model.length == 0"
        class="drop well {{upload.display.error ? 'file-rejected' : ''}}"
        [(ngModel)]="upload.model"
        ngModelRejected="upload.rejects"
        ngfChange="modelChanged(files, upload)"
        ngfAccept="upload.accept"
        ngfDragOverClass="{accept:'file-over', reject:'file-over', delay:100}"
        ngfDropAvailable="dropSupported">
        <p class="fa {{upload.display.icon}} fa-3x"></p>
        <p [hidden]="!upload.display.error">
          Invalid file provided
          <small> Accepted files: <code>{{upload.accept.split(',').join(', ')}}</code> </small>
        </p>
        <p [hidden]="!dropSupported" hidden="upload.display.error">
          Drop {{upload.display.type}} file here
          <small> or click to select one </small>
        </p>
        <p hidden="dropSupported || upload.display.error">
          Click to select {{upload.display.type}} file
        </p>
      </div><!--/drop-zone-->
      <div [hidden]="!singleDropZone && !upload.model.length > 0" class="selected-files">
        <span class="selected-file">
          <i class="file-type fa {{upload.display.icon}}"></i>
          {{upload.model[0].name}}
        </span>
        <a class="clear-upload text-muted" ngClick="clearEnqueuedUpload(upload)">
          <i class="fa fa-times"></i>
        </a>
      </div><!--/selected-file-->
    </div><!--/drop-zones-->
    <div [hidden]="!singleDropZone">
      <h5 class="text-muted">Upload Summary</h5>
      <div class="selected-files list-group">
        <div class="selected-file list-group-item clearfix" ngClass="{highlight: upload.model.length > 0}" ngRepeat="upload in uploadZones">
          <div class="pull-left">
            <i class="file-type fa {{upload.display.icon}}"></i>
            <strong>{{upload.display.name}}</strong>
          </div>
          <div class="pull-right text-right">
            <em [hidden]="!upload.model.length > 0">{{upload.model[0].name}}</em>
            <em hidden="upload.model.length > 0" class="text-muted">File Pending</em>
            <a class="clear-upload text-muted" ngClick="clearEnqueuedUpload(upload)" [hidden]="!upload.model.length > 0">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div><!--/selected-file-->
      </div>
    </div><!--/upload-summary-->
  </div><!--/file-drop-area-->
  <div [hidden]="!showUploader && !isUploading" class="upload-commit-actions">
    <button
      [hidden]="!showUploadButton && !readyToUpload() && !uploadingInfo == null"
      ngClick="initiateUpload()"
      class="btn btn-primary btn-upload">
      <i class="fa fa-upload"></i> Start Upload
    </button><!--/upload-button-->
    <button [hidden]="!asButton" ngClick="resetUploader()" class="btn btn-danger btn-cancel">
      <i class="fa fa-times"></i> Cancel Upload
    </button><!--/cancel-button-->
  </div>
  <div [hidden]="!showUploader && !readyToUpload()" class="upload-area text-center clearfix">
    <div hidden="uploadingInfo == null || uploadingInfo.complete" class="progress-area">
      <div class="icons">
        <i ngRepeat="upload in uploadZones" class="fa {{upload.display.icon}}"></i>
        <i class="fa fa-arrow-right"></i>
        <i class="logo"></i>
      </div>
      <!-- POSSIBLY REMOVE PROGRESSBAR ELEMENT AS IS CURRENTLY NOT IN USE <progressbar class="progress-striped active" value="uploadingInfo.progress"></progressbar> -->
    </div><!--/progress-area-->
    <div *ngIf="uploadingInfo.complete" class="result-area">
      <p class="result-text">
        <i class="fa {{uploadingInfo.success === true ? 'fa-check-circle text-success' : 'fa-times-circle text-danger'}} fa-2x"></i>
        <strong>File Upload {{uploadingInfo.success === true ? 'Successful' : 'Failed'}}</strong>
      </p>
      <div class="error-message-area" hidden="uploadingInfo.success === true">
        <hr>
        <p>
          <strong>Error Message: </strong>
          {{uploadingInfo.error}}
        </p>
        <p class="retry-options">
          <a ngClick="initiateUpload()">Retry Upload</a>
          <a ngClick="onClickFailureCancel()">Cancel</a>
        </p><!--/error-message-area-->
      </div>
    </div><!--/result-area-->
  </div><!--/upload-area-->
</div>
