<div class="chart-container">
    <ngx-charts-gauge
      class="progress-gauge-chart"
      [view]="view"
      [results]="data"
      [legend]="legend"
      [legendTitle]="legendTitle"
      [legendPosition]="legendPosition"
      [min]="gaugeMin"
      [max]="gaugeMax"
      [units]="gaugeUnits"
      [angleSpan]="gaugeAngleSpan"
      [startAngle]="gaugeStartAngle"
      [showAxis]="gaugeShowAxis"
      [bigSegments]="gaugeLargeSegments"
      [smallSegments]="gaugeSmallSegments"
      [showText]="showText"
      [scheme]="colorScheme"
      (select)="onSelect($event)"
      >
    </ngx-charts-gauge>
  </div>