<div class="unit" cdkDrag [cdkDragData]="dragData">
  <div class="unit-header">
    <strong>{{ unit.code }}</strong> | Level {{ getUnitLevel() }} | {{ unit.credit_points }} points
  </div>

  <div class="unit-name">
    {{ unit.name }}
  </div>

  <button *ngIf="showMenu" mat-icon-button class="unit-menu-button" [matMenuTriggerFor]="unitMenu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #unitMenu="matMenu">
    <button mat-menu-item (click)="onRemoveUnit()">
      <mat-icon>delete</mat-icon>
      <span>Remove</span>
    </button>
  </mat-menu>
</div>
