<div
  class="unit"
  [class.has-warnings]="hasPrerequisiteWarnings"
  cdkDrag
  [cdkDragData]="dragData"
  [matTooltip]="warningTooltip"
  [matTooltipDisabled]="!hasPrerequisiteWarnings"
>
  <div class="unit-header">
    <div class="unit-code-section">
      <strong>{{ unit.code }}</strong> | Level {{ getUnitLevel() }} | {{ unit.credit_points }}
      points
    </div>
  </div>

  <div class="unit-name">
    {{ unit.name }}
  </div>

  @if (hasPrerequisiteWarnings) {
    <div class="prerequisite-warnings">
      @for (warning of validationResult?.warnings; track warning) {
        <div class="warning-text">
          <mat-icon class="warning-icon-small">warning</mat-icon>
          {{ warning }}
        </div>
      }
    </div>
  }

  <button *ngIf="showMenu" mat-icon-button class="unit-menu-button" [matMenuTriggerFor]="unitMenu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #unitMenu="matMenu">
    <button mat-menu-item (click)="onRemoveUnit()">
      <mat-icon>delete</mat-icon>
      <span>Remove</span>
    </button>
  </mat-menu>
</div>
