// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@include mat.core();

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../node_modules/ngx-bar-rating/themes/br-stars-theme';

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-right-style: hidden;
}

.f-table {
  @include mat.elevation(1);
  border-radius: 0.8rem;
  margin-bottom: 1rem;

  background-color: transparent !important;

  .mat-sort-header-content,
  .mat-mdc-header-cell {
    font-weight: 900;
  }

  &.selectable {
    .mat-mdc-row:hover .mat-mdc-cell {
      background-color: rgb(243, 243, 243);
    }
    .mat-mdc-row .mat-mdc-cell {
      cursor: pointer;
    }
  }
}

/* tooltip-container.component.css */
.tooltip-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.4;
  transition: opacity 0.3s;
  white-space: nowrap;
  z-index: 1000;
  opacity: 0;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.tooltip-container::after {
  content: '';
  position: absolute;
  bottom: 100%; /* at the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #616161 transparent;
}

.tooltip-container.show {
  opacity: 1;
}
