<div>
  <div class="header">
    <div>
      <h3>Breaks</h3>
      <p>Breaks in {{ teachingperiod.name() }}</p>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortTableData($event)" class="mat-elevation-z3">
    <ng-container matColumnDef="startDate" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
      <td mat-cell *matCellDef="let break">
        {{ break.startDate | date: 'EEE d MMM' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="duration" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration</th>
      <td mat-cell *matCellDef="let break">{{ break.numberOfWeeks }} week</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <td mat-footer-cell *matFooterCellDef [colSpan]="columns.length">
        <mat-toolbar>
          <mat-toolbar-row>
            <button mat-stroked-button target="_blank" (click)="addBreak()">
              <i class="fa fa-plus"></i> Add Break
            </button>
          </mat-toolbar-row>
        </mat-toolbar>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
    <tr mat-footer-row *matFooterRowDef="['actions']"></tr>
  </table>
</div>
