<div class="flex flex-row">
  <div class="mr-6 w-4 shrink-0" [style.background-color]="task.color"></div>
  <div class="flex min-w-0 shrink grow flex-col py-4">
    <h4
      class="mb-1 min-w-0 grow truncate"
      [routerLink]="['/projects', task.projectId, 'dashboard', task.abbreviation]"
    >
      {{ task.title }}
    </h4>
    <p class="mb-0">{{ task.subtitle }}</p>
  </div>
  <div class="mr-6 ml-2 flex flex-row items-center justify-end gap-4">
    @if (!isExpanded && task.comments > 0) {
      <div class="flex size-8 rounded-full bg-red-500">
        <span class="m-auto text-xl font-medium text-white">{{ task.comments }}</span>
      </div>
    }
    <mat-icon class="cursor-pointer" (click)="isExpanded = !isExpanded">
      {{ isExpanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
    </mat-icon>
  </div>
</div>
<div class="flex flex-row">
  @if (isExpanded) {
    <f-expanded-list-item [task]="task"></f-expanded-list-item>
  }
</div>
